<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
  <Appenders>

    <Console name="Console" target="SYSTEM_OUT">
      <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %-5level %logger [%X{requestId}] - %msg%n%throwable"/>
    </Console>

    <RollingFile name="AppFile" fileName="logs/app.log" filePattern="logs/app-%d{yyyy-MM-dd}-%i.log.gz">
      <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss.SSS} %-5level %logger [%X{requestId}] - %msg%n%throwable"/>
      <Policies>
        <TimeBasedTriggeringPolicy />
        <SizeBasedTriggeringPolicy size="10MB"/>
      </Policies>
      <DefaultRolloverStrategy max="14"/>
    </RollingFile>

    <RollingFile name="PostsFile" fileName="logs/posts.log" filePattern="logs/posts-%d{yyyy-MM-dd}-%i.log.gz">
      <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss.SSS} %-5level %logger [%X{requestId}] - %msg%n%throwable"/>
      <Policies><TimeBasedTriggeringPolicy /><SizeBasedTriggeringPolicy size="10MB"/></Policies>
      <DefaultRolloverStrategy max="14"/>
    </RollingFile>

    <RollingFile name="UsersFile" fileName="logs/users.log" filePattern="logs/users-%d{yyyy-MM-dd}-%i.log.gz">
      <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss.SSS} %-5level %logger [%X{requestId}] - %msg%n%throwable"/>
      <Policies><TimeBasedTriggeringPolicy /><SizeBasedTriggeringPolicy size="10MB"/></Policies>
      <DefaultRolloverStrategy max="14"/>
    </RollingFile>

    <RollingFile name="FollowFile" fileName="logs/follow.log" filePattern="logs/follow-%d{yyyy-MM-dd}-%i.log.gz">
      <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss.SSS} %-5level %logger [%X{requestId}] - %msg%n%throwable"/>
      <Policies><TimeBasedTriggeringPolicy /><SizeBasedTriggeringPolicy size="10MB"/></Policies>
      <DefaultRolloverStrategy max="14"/>
    </RollingFile>

    <RollingFile name="ComentariosFile" fileName="logs/comentarios.log" filePattern="logs/comentarios-%d{yyyy-MM-dd}-%i.log.gz">
      <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss.SSS} %-5level %logger [%X{requestId}] - %msg%n%throwable"/>
      <Policies><TimeBasedTriggeringPolicy /><SizeBasedTriggeringPolicy size="10MB"/></Policies>
      <DefaultRolloverStrategy max="14"/>
    </RollingFile>

    <Async name="AsyncApp">
      <AppenderRef ref="AppFile"/>
    </Async>

  </Appenders>

  <Loggers>
    <Logger name="app.kuriobackend.Controllers.PostController" level="info" additivity="false">
      <AppenderRef ref="PostsFile"/>
      <AppenderRef ref="Console"/>
    </Logger>

    <Logger name="app.kuriobackend.Controllers.UserController" level="info" additivity="false">
      <AppenderRef ref="UsersFile"/>
      <AppenderRef ref="Console"/>
    </Logger>

    <Logger name="app.kuriobackend.Controllers.FollowController" level="info" additivity="false">
      <AppenderRef ref="FollowFile"/>
      <AppenderRef ref="Console"/>
    </Logger>

    <Logger name="app.kuriobackend.Controllers.ComentarioController" level="info" additivity="false">
      <AppenderRef ref="ComentariosFile"/>
      <AppenderRef ref="Console"/>
    </Logger>

    <Logger name="app.kuriobackend.Services.PostService" level="debug" additivity="false">
      <AppenderRef ref="PostsFile"/>
      <AppenderRef ref="AsyncApp"/>
    </Logger>

    <Root level="info">
      <AppenderRef ref="AppFile"/>
      <AppenderRef ref="Console"/>
    </Root>
  </Loggers>
</Configuration>

